body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff6b6b;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    
}

button:hover {
    background-color: #ff4757;
}

#qrCodeContainer {
    margin-top: 20px;
}

#qrCode {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#thankYouMessage {
    margin-top: 20px;
}

/* Slideshow Styles */
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Responsive Styles */
@media (min-width: 600px) {
    .container {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}
